@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,900&display=swap");

* {
    font-family: "Roboto";
}

section {
    padding: 0px 50px;
}

strong {
    color: #64ffda;
    font-weight: 400;
}

/* Home */

.home {
    height: 90vh;
    position: relative;
}

.conteudo-home {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}

.home .apresentacao {
    color: #64ffda;

    font-size: min(1.1em, 6.5vw);
    word-spacing: 4px;

    margin-bottom: 20px;

    display: block;
}

.home h1 {
    color: #ccd6f6;
    font-size: min(150px, 8vw);
    margin-bottom: 5px;
}

.home .subtitulo {
    color: #8892b0;

    font-size: min(120px, 6vw);
    font-weight: 600;

    margin-bottom: 25px;
    padding-right: 50px;

    display: block;
}

.resumo {
    color: #7d87a4;

    font-size: 16.3px;
    text-align: justify;
    line-height: 1.5;

    padding: 0px 50px 0px 0px;
    margin-bottom: 65px;

    word-spacing: 0.6px;
}

/* SOBRE */

.sobre {
    position: relative;
    margin-top: 60px;
    padding-top: 30px;
}

.sobre h2 {
    color: #ccd6f6;
    font-size: min(120px, 6vw);
    margin-bottom: 30px;
}

.sobre .descricao {
    color: #7d87a4;
    font-size: 17px;
    text-align: justify;
    line-height: 1.5;
    word-spacing: 0.8px;
}

.sobre p + p {
    margin-top: 15px;
}

.sobre h3 {
    color: #ccd6f6e4;
    font-size: min(120px, 5.8vw);
    margin-top: 40px;
    margin-bottom: 10px;
}

.tecnologias-list,
.cursos-list {
    columns: 2;
    list-style: none;
    margin-bottom: 20px;
}

.tecnologias-list li,
.cursos-list li {
    color: #7d87a4;
    text-indent: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    opacity: 0.7;
    transition: 0.4s;
    cursor: pointer;
}

.tecnologias-list li:hover,
.cursos-list li:hover {
    opacity: 1;
    font-weight: 600;
}

.seta {
    margin-right: 5px;
    color: #64ffda;
    font-size: 14px;
}

/* Projetos */

.projetos {
    margin-top: 120px;
    margin-bottom: 80px;
    padding-top: 30px;
}

.projetos h2 {
    color: #ccd6f6;
    font-size: min(120px, 6vw);
    margin-bottom: 30px;
}

.projetos ul {
    columns: 2;
    list-style: none;
    margin-bottom: 20px;
}

.projetos ul li {
    color: #64ffda;
    text-indent: 10px;
    text-decoration: underline;
    margin-bottom: 9px;
    font-size: 15px;
    opacity: 0.7;
    transition: 0.4s;
    cursor: pointer;
}

#box-projeto {
    width: 90%;
    max-width: 800px;
    height: 800px;
    margin: 0px auto;
    position: relative;
    color: white;
}

#box-projeto h3 {
    color: #8892b0;
    font-size: min(120px, 5vw);
    text-align: center;
    margin-bottom: 10px;
}

#box-projeto h3 a {
    text-decoration: underline;
    color: #8892b0;
}

#box-projeto h3 a:hover {
    opacity: 0.9;
}

#box-projeto img {
    width: 100%;
    height: 100%;
}

@media (min-width: 759px) {
    section {
        padding: 0px 180px;
    }

    .header nav {
        padding: 20px 50px;
    }

    /* Home */

    .home {
        min-height: 600px;
    }

    .resumo {
        padding-right: 180px;
        min-width: 500px;
        max-width: 60%;
        text-align: left;
    }

    .line-medias {
        display: block;
    }

    /* Footer */
}

@media (max-width: 600px) {
    .home {
        margin-top: 0px;
        margin-bottom: 160px;
    }

    #box-projeto {
        height: 200px;
    }

    footer ul {
        margin-left: 25px;
    }
}

@media (max-height: 378px) {
    .home {
        margin-top: 30px;
    }
}
