footer {
    background-color: #0a192f;
    height: 10vh;
    display: flex;
    align-items: center;
    grid-area: footer;
}

footer ul {
    margin: auto;
    list-style: none;
    display: flex;
}


footer ul li a {
    color: white;
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-cv {
    display: none;
    margin: auto;
}

.footer-cv a {
    color: #64FFDA;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #64FFDA;
    border-radius: 3px;
}