.header {
    background-color: #0a192f;

    font-size: 17px;

    width: 100%;

    box-sizing: border-box;

    position: relative;

    z-index: 1;
} 

.logo {
    color: #64FFDA;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #64FFDA;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 30px;
}

.sidenav-list {
    display: flex;
    list-style: none;
}

.sidenav-list li {
    letter-spacing: 1px;
}

.sidenav-list li + li {
    margin-left: 20px;
}

.sidenav-list a {
    color: white;
    text-decoration: none;
}

.cv a {
    color: #64FFDA;
    padding: 10px 15px;
    border: 1px solid #64FFDA;
    border-radius: 3px;
    font-size: 13px;
    transition: 0.7s;
}

.cv a:hover {
    background-color: #64ffdb14;
}

.menu-mobile  {
    color: #64FFDA;
    padding: 0px;
    font-size: 30px;
    display: none;
}



@media screen and (max-width: 758px) {

    .sidenav-list {
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 50px;
        display: none;
    }

    .sidenav-list li + li {
        margin-left: 00px;
    }

    .menu-mobile {
        display: block;
    }
}