.header {
    background-color: #0a192f;

    font-size: 17px;

    width: 100%;

    box-sizing: border-box;

    position: relative;

    z-index: 1;
}

.logo {
    color: #64ffda;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #64ffda;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 30px;
}

.sidenav-list {
    display: flex;
    list-style: none;
}

.sidenav-list li {
    letter-spacing: 1px;
}

.sidenav-list li + li {
    margin-left: 20px;
}

.sidenav-list a {
    color: white;
    text-decoration: none;
}

.cv a {
    color: #64ffda;
    padding: 10px 15px;
    border: 1px solid #64ffda;
    border-radius: 3px;
    font-size: 13px;
    transition: 0.7s;
}

.cv a:hover {
    background-color: #64ffdb14;
}

.menu-mobile {
    color: #64ffda;
    padding: 0px;
    font-size: 30px;
    display: none;
}

@media (max-width: 600px) {
    .sidenav-list {
        display: none;
    }

    .sidenav-list-mobile {
        flex-direction: column;
        line-height: 50px;
        position: absolute;
        top: 56px;
        right: 30px;
        display: block;
        padding: 0px 50px 20px 50px;
        list-style: none;
        background-color: #0a192f;
        width: 85vw;
        z-index: 2;
    }

    .sidenav-list-mobile li {
        text-align: center;
    }

    .sidenav-list-mobile li + li {
        margin-left: 0px;
    }

    .sidenav-list-mobile a {
        color: white;
        text-decoration: none;
    }

    .menu-mobile {
        display: block;
        color: #64ffda;
        text-decoration: none;
        padding: 5px 10px;
        border: 1px solid #64ffda;
        font-size: 18px;
        background-color: #0a192f;
    }

    .menu-mobile:focus {
        background-color: #283c58;
    }
}
