.line-medias {
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.line-medias ul {
    list-style: none;
}


.line-medias ul li a {
    font-size: 1.3em;
    font-weight: 100;
    color: #7D87A4;
}

.line-medias li + li {
    margin-top: 20px;
}

.line-medias li a {
    transition: 0.3s;
}


.line-medias li a:hover {
    color: #64FFDA;
    font-size: 1.35em;
}